__pycache__
*.pyc
vqa
edit_vqa/
preprocessed_data/
resnet/
mscoco
logs_copy_stage3/
edit_mscoco
edit_mscoco_flipped
logs/
logs1/
models/
plots/
finetuning_logs/
**/finetuning_logs
*.png
*.yml
plots/
val_pkl_analysis.py
.idea/
